<!-- <button (click)="getPersons()">Get Persons</button>
<div *ngFor="let person of persons">
  <div>
    <ul>
      <li>{{ person.id }}</li>
      <li>{{ person.first_name }}</li>
      <li>{{ person.last_name }}</li>
      <li>{{ person.middle_name }}</li>
      <li>{{ person.personal_number }}</li>
      <li>{{ person.email }}</li>
      <li>{{ person.phone_number }}</li>
    </ul>
  </div>
</div> -->

<div class="m-4">
  <p-table
    [value]="persons"
    [scrollable]="true"
    scrollHeight="900px"
    scrollDirection="both"
    responsiveLayout="scroll"
    styleClass="p-datatable-sm"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 100px">Id</th>
        <th style="width: 200px">Name</th>
        <th style="width: 200px">Country</th>
        <th style="width: 200px">Date</th>
        <th style="width: 200px">Balance</th>
        <th style="width: 200px">Company</th>
        <th style="width: 200px">Status</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-person>
      <tr>
        <td style="width: 100px">{{ person.id }}</td>
        <td style="width: 200px">{{ person.first_name }}</td>
        <td style="width: 200px">{{ person.last_name }}</td>
        <td style="width: 200px">{{ person.middle_name }}</td>
        <td style="width: 200px">{{ person.personal_number }}</td>
        <td style="width: 200px">{{ person.email }}</td>
        <td style="width: 200px">{{ person.phone_number }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td style="width: 100px">Id</td>
        <td style="width: 200px">Name</td>
        <td style="width: 200px">Country</td>
        <td style="width: 200px">Date</td>
        <td style="width: 200px">Balance</td>
        <td style="width: 200px">Company</td>
        <td style="width: 200px">Status</td>
      </tr>
    </ng-template>
  </p-table>
</div>
