<!-- <div class="b-color-0 grid flex h-screen">
  <div class="b-color-2 col-12 flex w-full h-4rem">HEADER</div>
  <div class="b-color-3 col-12 flex w-full">MAIN CONTENT</div>
</div> -->

<!-- <div class="b-color-0 flex h-screen"></div> -->

<!-- <div class="b-color-0 h-screen">
  <div class="b-color-1 h-full">
    <div class="b-color-2" style="height: 10%">HEADER</div>
    <div class="b-color-3" style="height: 90%">CONTENT</div>
  </div>
</div> -->

<!-- <div class="box">
  <div class="row header">
    <p>
      <b>header</b>
      <br />
      <br />(sized to content)
    </p>
  </div>
  <div class="row content">
    <p>
      <b>content</b>
      (fills remaining space)
    </p>
  </div>
  <div class="row footer">
    <p><b>footer</b> (fixed height)</p>
  </div>
</div> -->

<!-- <div class="b-color-0 flex h-screen">
  <div class="b-color-1 w-screen">
    <div class="b-color-2">HEADER</div>
    <div class="b-color-3">CONTENT</div>
  </div>
</div> -->

<div class="box b-color-0">
  <div class="row header b-color-1 h-4rem flex align-items-center">
    <div class="col-2">LOGO</div>
    <div class="col-8">FAV</div>
    <div class="col-2 flex justify-content-end">LANGUAGE</div>
  </div>
  <div class="row content b-color-2 flex">
    <div class="col-2">LEFT</div>
    <div class="col-10 flex">
      <div class="col-10">
        <app-persons></app-persons>
      </div>
      <div class="col-2">RIGHT</div>
    </div>
  </div>
</div>
