.bc0 {
  background-color: darkgray;
}

.bc1 {
  background-color: grey;
}

.bc2 {
  background-color: lightgray;
}

.bc3 {
  background-color: darkblue;
}

.bc4 {
  background-color: blue;
}

.bc5 {
  background-color: lightblue;
}
