<!-- <div class="b-color-0 grid flex h-screen">
  <div class="b-color-2 col-12 flex w-full h-4rem">HEADER</div>
  <div class="b-color-3 col-12 flex w-full">MAIN CONTENT</div>
</div> -->

<!-- <div class="b-color-0 flex h-screen"></div> -->

<!-- <div class="b-color-0 h-screen">
  <div class="b-color-1 h-full">
    <div class="b-color-2" style="height: 10%">HEADER</div>
    <div class="b-color-3" style="height: 90%">CONTENT</div>
  </div>
</div> -->

<!-- <div class="box">
  <div class="row header">
    <p>
      <b>header</b>
      <br />
      <br />(sized to content)
    </p>
  </div>
  <div class="row content">
    <p>
      <b>content</b>
      (fills remaining space)
    </p>
  </div>
  <div class="row footer">
    <p><b>footer</b> (fixed height)</p>
  </div>
</div> -->

<!-- <div class="b-color-0 flex h-screen">
  <div class="b-color-1 w-screen">
    <div class="b-color-2">HEADER</div>
    <div class="b-color-3">CONTENT</div>
  </div>
</div> -->

<!-- <div class="box b-color-0">
  <div class="row header b-color-1 h-4rem flex align-items-center">
    <div class="col-2">LOGO</div>
    <div class="col-8">FAV</div>
    <div class="col-2 flex justify-content-end">LANGUAGE</div>
  </div>
  <div class="row content b-color-2 flex">
    <div class="col-2">LEFT</div>
    <div class="col-10 flex">
      <div class="col-10"> -->
<!-- <app-persons></app-persons> -->
<!-- MIDDLE
      </div>
      <div class="col-2">RIGHT</div>
    </div>
  </div>
</div> -->

<!-- <div class="grid flex-column bc0 m-0 p-0">
  <div class="flex-none col-12 p-0 m-0 bc1">
    <div class="flex h-4rem align-items-center">
      <div id="home-logo" class="w-2 pl-2"></div>
      <div class="w-7 pl-2">M</div>
      <div class="w-3 flex justify-content-end">
        <div class="pr-2">L</div>
      </div>
    </div>
  </div>
  <div class="flex-grow-1 col-12 p-0 bc2">
    <div class="flex">
      <div class="w-2">L</div>
      <div class="w-10 pl-2 flex">
        <div class="w-9">
          <app-persons></app-persons>
        </div>
        <div class="w-3">R</div>
      </div>
    </div>
  </div>
</div> -->

<div class="grid">
  <div class="col-12 h-4rem flex m-0 p-0 shadow-1">
    <div id="home-logo" class="w-2"></div>

    <div class="w-8 flex align-items-center">
      <div class="ml-1">
        <p-button
          label="emails"
          icon="pi pi-send"
          styleClass="p-button-primary"
          badge="8"
          badgeClass="p-badge-danger"
          [disabled]="true"
        ></p-button>
      </div>

      <div class="ml-1">
        <p-button
          label="Messages"
          icon="pi pi-users"
          styleClass="p-button-primary"
          badge="2"
          badgeClass="p-badge-danger"
          [disabled]="true"
        ></p-button>
      </div>

      <div class="ml-1">
        <p-button
          label="Persons"
          icon="pi pi-users"
          styleClass="p-button-primary"
          badge="1"
          badgeClass="p-badge-danger"
          [disabled]="true"
        ></p-button>
      </div>
    </div>

    <div class="w-2 flex align-items-center justify-content-end mr-3">
      <div class="pl-2 pr-2">
        <p-dropdown
          [options]="languages"
          [(ngModel)]="selectedLanguage"
          placeholder="En"
          optionLabel="name"
        ></p-dropdown>
      </div>
    </div>
  </div>

  <div class="col-12 flex pl-0">
    <div class="w-2 p-0 m-0">
      <p-card>
        <div class="grid">
          <div class="col-4">
            <p-avatar
              image="https://images.unsplash.com/photo-1597223557154-721c1cecc4b0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80"
              styleClass="p-mr-2"
              size="xlarge"
              shape="circle"
            ></p-avatar>
          </div>
          <div class="col-8">
            <h3 class="m-0">Susan Lodgic</h3>
            <h5 class="m-0 mt-2">Admin, Employee</h5>
            <h6 class="m-0 mt-2">Last Login:</h6>
            <h6 class="m-0 mt-1">12/09/2021 08:24h</h6>
          </div>
        </div>
      </p-card>
      <p-panelMenu [model]="items"></p-panelMenu>
    </div>
    <div class="w-10">MAIN</div>
  </div>

  <div class="col-12 fixed bottom-0 shadow-4">CEC</div>
</div>
