/* You can add global styles to this file, and also import other style files */

//@import "../node_modules/primeng/resources/themes/saga-blue/theme.css";

body {
  margin: 0;
  height: 100%;
}

.b-color-0 {
  background-color: var(--pink-700);
}

.b-color-1 {
  background-color: var(--blue-900);
  color: var(--primary-color-text);
}

.b-color-2 {
  background-color: var(--teal-300);
  color: var(--primary-color-text);
}

.b-color-3 {
  background-color: var(--purple-300);
  color: var(--primary-color-text);
}

html,
body {
  height: 100%;
  margin: 0;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row {
  border: 1px dotted grey;
}

.box .row.header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.box .row.content {
  flex: 1 1 auto;
}

.box .row.footer {
  flex: 0 1 40px;
}
